name: Deploy FrenzyNet Site
on:
  push:
    branches: [ 'main' ]

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: site
          user_name: FrenzyNet Site Builder
          user_email: deploy@frenzynet.com
          keep_files: false
          cname: frenzynets.com
